:root {
    --anchor-color: #0067D2;
    --nav-hover-color: #F2F7FD;
    --left-nav-icons-color: #0067D2;
    --button-color: #C7D3DF;
    --button-color-hover: #E3E9EF;
    --button-text-color: #242A30;
    --background-color: #F9FAFC;
    --text-field-labels: #001A35;
    --text-field: #242A30;
    --card-header: #fff;
    --card-header-text: #001A35;
    --card-body: #fff;
    --card-border: #E3E9EF;
    --global-nav-color: #fff;
    --global-nav-icons: #6B7D8F;
    --global-nav-icons-text: #47535F;
    --global-search-bar-color: var(--background-color);
    --global-search-bar-border: #C7D3DF;
    --global-search-button: #fff;
    --global-search-bar-icon: #6B7D8F;
    --global-search-border: 4px;
    --hamburger-icon: #fff;
    --top-nav-menu-border: #C7D3DF;
    --top-nav-menu: #0067D2;
    --top-nav-text: #fff;
    --top-nav-text-selected: #fff;
    --top-nav-bottom-border-selected: #fff;
    --left-nav-border: #C7D3DF;
    --left-nav: #fff;
    --left-nav-text: #242A30;
    --left-nav-text-selected: #003368;
    --left-nav-selected-background: #F2F7FD;
    --left-nav-selected-border: #ED5B3E;
    --left-nav-hovered-background: var(--left-nav-selected-background);
    --left-nav-hovered-border: var(--left-nav-selected-border);
    --left-nav-text-children: var(--left-nav-text);
    --left-nav-text-children-selected: var(--left-nav-text-selected);
    --left-nav-static-top-color: #fff;
    --table-background-color-header: #E3E9EF;
    --table-background-color-odd: #fff;
    --table-background-color-even: #F2F7FD;
    --table-border-color: #C7D3DF;
    --table-text: #001A35;
    --table-header: #001A35;
    --page-header-color: #001A35;
    --scroll-bar-color: #E3E9EF;
}

